<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= t(".text_html") %>
    <div class="success-icon">
      <%= inline_svg 'icons/iconmonstr-rocket-20.svg', alt: 'Successfully installed' %>
    </div>
  </div>
</div>
<a href="javascript:window.opener.focus();window.close();" class='btn btn-success btn-lg'><%= t(".close_button") %></a>
