<div class="row main-actions">
  <div class="actions col-md-6 col-md-push-6">
    <%= render "shared/search_bookmark", mobile: true, q: @q %>
    <%= link_to "<span class='glyphicon glyphicon-plus' aria-hidden='true'></span> #{t('.new_bookmark')}".html_safe, new_bookmark_path, class: 'btn btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render partial: 'shared/bookmark_list_with_date', locals: {bookmarks: @bookmarks} %>
  </div>
</div>

<% if @bookmarks.size == 0 %>
<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center"><span class="start_new_search mega-octicon octicon-telescope"></span></div>
</div>
<% end %>
