.c-feed{
  &.a-index{
    background-color: #f8f8f8;

    .main-actions{
      margin-bottom: 2rem;

      .actions{
        text-align: right;
      }
    }    

    .pagination-wrapper{
      text-align: center;
    }
  }
}
