.c-notifications{
  &.a-index{
    .notification-card{
      background-color: $notification-color;
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      border-radius: 2px;
      font-size: 0.9rem;
      margin: 0 0 10px 0;
      overflow: hidden;
      padding: 0.7rem 1rem;

      &.read{
        background-color: #fff;
      }

      .icon{
        font-size: 1.5rem;
        line-height: 1.5rem;
        text-align: center;

        .material-icons{
          font-size: 1.5rem;
          line-height: 1.5rem;

          &.bookmark-like{
            margin-top: 2px;
            color: $like-color;
          }

          &.bookmark-copy{
            margin-top: 4px;
            color: $secondary-color;
          }

          &.user-follow{
            color: lighten($primary-color, 20%);
          }
        }
      }

      .header{
        line-height: 1.5rem;

        a.user-profile-link, a.user-profile-link:visited{
          color: #000;
          font-weight: 600;
          text-decoration: none;
        }

        time{
          color: $help-text-color;
          float: right;
          font-size: 0.8rem;
        }
      }

      .bookmark{
        .title{
          font-size: 1rem;
          line-height: 20px;

          a, a:visited{
            color: lighten($default-text-color, 30%);
          }
        }
      }
    }
  }
}
