<div class="row">
  <div class="col-sm-1 hidden-xs icon">
    <i class="material-icons bookmark-copy" aria-hidden="true">library_add</i>
  </div>
  <div class="col-sm-11 content">
    <div class="header clearfix">
      <%= link_to notification.sender.profile.name, user_profile_permalink(notification.sender.profile), class: 'user-profile-link' %> <%= t("notifications.bookmark_copy.copied_bookmark") %>
      <%= time_tag notification.created_at, notification.created_at.in_time_zone.to_formatted_s(:short) %>
    </div>

    <div class="bookmark">
      <div class="title"><%= link_to notification.emitter.title, bookmark_permalink(notification.emitter) %></div>
    </div>
  </div>
</div>
