<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <% @notifications.each do |notification| %>
    <div class="notification-card clearfix <%= 'read' if notification.read %>">
      <%= render partial: "#{notification.activity}_notification", locals: {notification: notification} %>
    </div>
  <% end %>
  </div>
</div>
