.c-tools{
  &.a-bookmarklet{
    line-height: 1.5rem;

    .page-title{
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .introduction{
      margin-bottom: 2rem;
    }

    .instructions{
      margin-top: 2rem;

      .installation{
        margin-bottom: 2rem;

        strong{
          font-size: 1.1rem;
        }

        ul{
          list-style-type: none;
          padding-left: 0;
        }
      }

      .bookmarklet-button{
        background-color: #eee;
        border: 1px dashed #777;
        padding: 1rem;
        text-align: center;
      }

      .drag-instruction{
        line-height: 4rem;
        text-align: center;

        .arrow{
          font-size: 1.5rem;
          font-weight: bold;
        }
      }

      .bookmarks-bar{
        text-align: center;

        img{
          height: auto;
          max-width: 390px;
          width: 100%;
        }
      }

      .move{
        cursor: move;
      }
    }

    .confirmation{
      background-color: darken($success-color, 15%);
      border-radius: 3px;
      box-shadow: 0 0 5px 1px #777;
      color: white;
      display: none;
      padding: 1rem;
      text-align: center;
    }

    .usage{
      margin-top: 2rem;

      strong{
        font-size: 1.1rem;
      }

      .video-player{
        text-align: center;

        .video-controler{
          padding-bottom: 1rem;
          padding-top: 1rem;
        }

        video{
          box-shadow: 0 0 5px 1px #777;
          height: auto;
          max-width: 900px;
          width: 100%;
        }
      }
    }

    .btn.btn-default{
      font-weight: 600;
    }
  }
}
