// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-override";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "lib/awesomplete";
@import "lib/awesomplete-override";
@import "lib/octicons";
@import "fonts";
@import "devise";
@import "views/home/index";
@import "views/home/tools";
@import "views/home/logos";
@import "views/feed/index";
@import "bookmarks";
@import "user_profiles";
@import "emails";

html{
  color: $default-text-color;
  font-size: 16px;
}

body{
  background-color: $background-color;
  color: $default-text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
}

// To avoid iOS to zoom in when focusing on fields
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select,
  textarea,
  input,
  *.form-control{
    font-size: 16px;
  }
}

// Do not color labels on success
.has-success , .has-error .control-label{
  color: $default-text-color;
}

.has-success{
  .control-label, .no-feedback{
    color: $default-text-color;
  }

  .input-group-btn{
    button{
      background-color: $state-success-bg;
      border-color: $state-success-text;
      color: $state-success-text;
    }
  }
}

.has-error{
  .control-label, .no-feedback{
    color: $default-text-color;
  }

  .input-group-btn{
    button{
      background-color: $state-danger-bg;
      border-color: $state-danger-text;
      color: $state-danger-text;
    }
  }
}

.form-group.has-feedback{
  .form-control-feedback{
    display: none;
  }

  &.has-success{
    .form-control-feedback-ok{
      display: block;
    }
  }

  &.has-error{
    .form-control-feedback-error{
      display: block;
    }
  }
}

.navbar{
  &.navbar-default{
    background-color: $navigation-bar-background-color;
    border: 0;
    border-radius: 0;

    .navbar-brand{
      color: $navigation-bar-text-color;
    }

    .navbar-nav{
      & > li {
        &.active > a{
          background-color: lighten($navigation-bar-background-color, 10%);
          color: $navigation-bar-text-color;
        }

        & > a{
          color: $navigation-bar-text-color;
        }
      }

      & > .open {
        & > a{
          background-color: lighten($navigation-bar-background-color, 10%);
          color: $navigation-bar-text-color;
        }

        & > .dropdown-menu{
          background-color: lighten($navigation-bar-background-color, 10%);
          border: 0;

          & > li > a{
            color: $navigation-bar-text-color;

            &:hover{
              background-color: lighten($navigation-bar-background-color, 20%);
            }
          }
        }
      }
    }

    @media(min-width:$screen-md-min){
      .search-bookmark{
        width: 400px
      }
    }
  }
}

.top.alert{
  margin-top: -20px;
  border: 0;
  border-radius: 0;
  text-align: center;
}

.field_with_errors {
  @extend .has-error;
}
