.c-bookmarks{
  .main-actions{
    margin-bottom: 2rem;
  }

  form{
    textarea#bookmark_description{
      height: 20rem;
    }
  }

  &.popup{
    form{
      textarea#bookmark_description{
        height: 10rem;
      }
    }
  }

  &.a-index{
    .main-actions{
      .actions{
        text-align: right;

        @media(max-width:$screen-md-min){
          margin-bottom: 1rem;
        }
      }
    }

    .start_new_search{
      cursor: pointer;
      color: #ddd;
      font-size: 200px;
      margin-top: 2rem;
      &:hover{
        color: #999;
      }

      &:active{
        color: $primary-color;
      }
    }
  }

  &.a-show{
    .title{
      color: $navigation-bar-background-color;
      font-size: 2.5rem;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      a, a:visited{
        color: #000;
        text-decoration: none;
      }

      .privacy{
        font-size: 2rem;
      }
    }

    .link{
      color: $brand-primary;
      margin-top: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .description{
      margin-bottom: 3rem;
      margin-top: 3rem;;
    }

    .tags{
      a.tag, span.tag{
        background-color: $navigation-bar-background-color;
        border: 1px solid #888;
        border-radius: $border-radius-base;
        color: $navigation-bar-text-color;
        display: inline-block;
        margin: 0 3px;
        padding: 2px 5px;
        text-decoration: none;
        transition: all .3s;

        &:hover{
          background-color: darken($navigation-bar-background-color, 15%);
        }

        &:first-of-type{
          margin-left: 6px;
        }

        &:last-of-type{
          margin-right: 0;
        }
      }
    }

    .share{
      margin-top: 3rem;
      text-align: center;

      .share-title{
        font-size: 2rem;
      }

      .share-help{
        font-size: 1.4rem;
      }

      .share-statistics{
        margin-top: 2rem;

        .stat{
          margin: 0 2rem;

          strong{
            font-weight: 500;
          }
        }
      }

      .share-why-popup{
        color: #777;
        font-style: italic;
        margin-top: 2rem;
        text-align: justify;
      }

      .share-options{
        margin-bottom: 2rem;
        margin-top: 2rem;

        .share{
          height: auto;
          margin: 0 2rem;
          transition: transform .3s ease-in-out;
          width: 60px;

          &:hover{
            transform: scale(1.3);
          }
        }
      }
    }
  }
}

.c-feed, .c-bookmarks{
  &.a-index{
    .search-bookmark-mobile{
      margin-bottom: 2rem;
    }

    .bookmark{
      border-bottom: 1px solid #eee;
      line-height: 4rem;

      .title{
        color: $primary-color;

        .privacy{
          color: $default-text-color;
        }
      }

      .title, .link, .user, .time{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .link, .user{
        a, a:visited{
          color: $default-text-color;
        }
      }
    }

    &.viewport-xs, &.viewport-sm{
      .bookmark{
        .title{
          cursor: pointer;
          a{
            display: inline-block;
            text-decoration: none;
          }
        }
        .details{
          display: none;

          .link{
            color: $primary-color;

            a, a:visited{
              color: $primary-color;
            }
          }
        }

        &.open{
          background-color: #eaeaea;

          .title{
            background-color: $primary-color;

            a, .privacy{
              color: white;
            }
          }

          .details{
            display: block;
          }
        }
      }
    }
  }
}
