.bookmark-item{
  border: 0;

  .panel-heading{
    background-color: $ternary-color;
  }
  .panel-footer{
    background-color: $ternary-color;
  }
  .panel-body{
    background-color: lighten($background-color, 3%);
  }

  .title{
    font-size: 2rem;

    a, a:visited{
      color: #000;
      text-decoration: none;
    }
  }

  .link{
    color: $brand-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .description{
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 1rem;
  }

  .tags{
    color: #000;

    a.tag{
      color: #000;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.c-bookmarks{
  .main-actions{
    margin-bottom: 1rem;
  }

  &.a-index{
    .main-actions{
      .actions{
        text-align: right;

        @media(max-width:$screen-md-min){
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.c-home, .c-bookmarks{
  &.a-index{
    .bookmark-item{
      .description{
        height: 6rem;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
      }
    }
  }
}
