.c-home{
  &.a-index{
    .main-actions{
      margin-bottom: 1rem;
    }

    &.a-index{
      .main-actions{
        .actions{
          text-align: right;

          @media(max-width:$screen-md-min){
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &.a-tools{
    .page-title{
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .tool{
      .title{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      &.bookmarklet{
        .introduction{
          font-weight: 500;
          margin-bottom: 2rem;
        }
        .instructions{
          margin-top: 2rem;

          .installation{
            margin-bottom: 2rem;
          }

          .help-video{
            background-color: #eee;
            margin-bottom: 20px;
            margin-top: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            text-align: center;

            img{
              box-shadow: 0px 0px 10px 2px #aaa;
              height: auto;
              max-width: 90%;
            }
          }
        }
        .move{
          cursor: move;
        }
      }
    }
  }
}
