.c-home{
  &.a-index{
    .main-actions{
      margin-bottom: 1rem;
    }

    &.a-index{
      .main-actions{
        .actions{
          text-align: right;

          @media(max-width:$screen-md-min){
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  &.a-tools{
    .page-title{
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    .tool{
      .title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .description{
        color: #666;
        max-width: 600px;
      }

      &.bookmarklet{
        .move{
          cursor: move;
        }
      }
    }
  }
}
