.c-user_profiles{
  .main-actions{
    margin-bottom: 2rem;
    text-align: right;
  }

  form{
    input#user_profile_username{
      text-transform: lowercase;
    }

    #user_profile_username_help{
      .validation_message{
        font-weight: 700;
      }
    }
  }

  &.a-show{
    .name{
      font-size: 3rem;
      font-weight: 500;
    }

    .username{
      font-size: 1.8rem;
    }
  }
}
