<div class="row title">
  <div class="col-md-8 col-md-offset-2">
    <%= t(".title") %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>
