.c-bookmarks{
  &.a-index{
    background-color: #f8f8f8;

    .main-actions{
      margin-bottom: 2rem;

      .actions{
        text-align: right;
      }
    }

    .search-bookmark-mobile{
      margin-bottom: 1rem;
    }

    .start_new_search{
      cursor: pointer;
      color: #ddd;
      font-size: 200px;
      margin-top: 2rem;
      &:hover{
        color: #999;
      }

      &:active{
        color: $primary-color;
      }
    }

    .date-group{
      .date{
        color: $navigation-bar-background-color;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 3rem;
        text-align: center;
      }

      &.first{
        .date{
          margin-top: 0;
        }
      }

      .bookmark{
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        border-radius: 2px;
        margin: 0 0 10px 0;
        overflow: hidden;

        .header{
          border-bottom: 1px solid #ebebeb;
          padding: 0.7rem 1rem;

          .title{
            font-size: 1rem;
            line-height: 20px;

            a, a:visited{
              color: $primary-color;
            }
          }

          .link{
            color: $secondary-color;
            font-size: 0.9rem;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;

            a, a:visited{
              color: $secondary-color;
            }
          }
        }

        .description{
          padding: 0.7rem 1rem;

          p{
            margin: 0;
          }
        }

        .footer{
          border-top: 1px solid #ebebeb;
          padding: 0.7rem 1rem;

          &.no-description{
            border: none;
          }

          .user-date{
            .user{
              text-decoration: none;

              .name{
                color: #000;
                font-weight: 600;
              }
              .username{
                color: #8899a6;
                font-size: 0.8rem;

                em{
                  color: #b1bbc3;
                }
              }
            }

            .time-ago{
              color: #8899a6;
              font-size: 0.8rem;
              float: right;
            }
          }
        }
      }
    }

    .pagination-wrapper{
      text-align: center;
    }
  }
}
