.c-bookmarks{
  &.a-index{
    background-color: #f8f8f8;

    .main-actions{
      margin-bottom: 2rem;

      .actions{
        text-align: right;
      }
    }

    .search-bookmark-mobile{
      margin-bottom: 1rem;
    }

    .start_new_search{
      cursor: pointer;
      color: #ddd;
      font-size: 200px;
      margin-top: 2rem;
      &:hover{
        color: #999;
      }

      &:active{
        color: $primary-color;
      }
    }

    .pagination-wrapper{
      text-align: center;
    }
  }
}
