.c-bookmarks{
  &.a-index{
    background-color: #f8f8f8;

    .main-actions{
      margin-bottom: 2rem;

      .actions{
        text-align: right;
      }
    }

    .search-bookmark-mobile{
      margin-bottom: 1rem;
    }

    .start_new_search{
      cursor: pointer;
      color: #ddd;
      font-size: 200px;
      margin-top: 2rem;
      &:hover{
        color: #999;
      }

      &:active{
        color: $primary-color;
      }
    }

    .date-group{
      .date{
        color: $navigation-bar-background-color;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 3rem;
        text-align: center;
      }

      &.first{
        .date{
          margin-top: 0;
        }
      }
    }

    .pagination-wrapper{
      text-align: center;
    }
  }
}
