.navbar-default{
  .nav > li > a{
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    font-size: 0.85rem;

    i.material-icons{
      font-size: 18px;
      line-height: 16px;
      vertical-align: middle;
    }

    .notifications-count{
      background-color: $like-color;
    }
  }
}
