.avatar{
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  text-align: center;

  img{
    border-radius: 12px;
    height: 100%;
    width: 100%;
  }

  &.big{
    border: 5px solid #fff;
    height: 210px;
    width: 210px;
  }

  &.medium{
    border: 2px solid #fff;
    height: 79px;
    width: 79px;
  }
}
